@import "./_variables.sass"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_icons.sass"
@import "./_fonts.sass"

// Début du projet
body
    font-family: $police

    // Modal
    #monModal
        height: 50%
        width: 75%
        margin: auto
        position: inherit
        background-color: lightgrey
        border: solid 1px black

        input
            height: max-content

    // Section 1 Fond
    #shopBanner
        background-color: #f3f3f3

    // Section 2 - 3 Products
    #products
        .row
            #living
                background-image: url("../../public/img/services/service-1.jpg")
                height: 100%
                background-size: cover

            #sale
                background-image: url("../../public/img/services/service-2.jpg")
                height: 100%
                background-size: cover

            #clothes
                background-image: url("../../public/img/services/slider-3.jpg")
                height: 100%
                background-size: cover
            
            div
                border: solid 5px white

        #produitsRecents
            .col-lg-4
                img
                    background-size: cover
                    width: 100%

    // Section 3 - Products banner
    #Banner
        background-image: url("../../public/img/cta-bg.jpg")
        background-position: center
        height: 550px
        background-size: cover

    // Section 4 - Caroussel
    #caroussel
        .col-lg-3
                img
                    background-size: cover
                    width: 100%

    // Section 5 - Footer
    #learnMore
        .container-fluid
            .row
                div
                    border: solid 10px white

    // Section 6
    #footer
        background-color: rgb(52,58,54)
    
        .copyright
            height: 10vh
            background-color: black